#main-nav {
  overflow: hidden !important;
  * {
    -webkit-overflow-scrolling: visible !important;
  }

  
  .navbar-brand {
    font-size: 1.75em;
    padding: 10px 15px;
    line-height: 30px
  }

  .logo-brand h2 {
    display: inline-block;
    font-size: 1em;
    margin: 0;
    padding: 0;
  }

  .logo {
    display: inline-block;
    width: 50px;
    height: 54px;
    padding-bottom: 20px;

    img {
      height: 100%;
      width: 100%;
    }
  } 
}