.main-wrap {
    position: relative;
    box-sizing: border-box;
    width: 100%;

    .main-view {
        position: absolute;    
        box-sizing: border-box;
        width: 100%;

        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

        &.ng-leave,
        &.ng-leave-active {
            -webkit-animation: slideOutLeft linear;
            -moz-animation: slideOutLeft linear;
            animation: slideOutLeft linear;

            -webkit-animation-duration: 0.495s;
            -moz-animation-duration: 0.495s;
            animation-duration: 0.495s;

            -webkit-animation-delay: 0.05s;
            animation-delay: 0.05s;

            z-index: 555;
        }
        
        &.ng-enter,
        &.ng-enter-active {
            -webkit-animation: slideInRight linear;
            -moz-animation: slideInRight linear;
            animation: slideInRight linear;

            -webkit-animation-duration: 0.6s;
            -moz-animation-duration: 0.6s;
            animation-duration: 0.6s;

            // -webkit-animation-delay: 0.05s;
            // animation-delay: 0.05s;

            z-index: 666;
        }
    }
}