.main-wrap {
    position: relative;

    .main-view {
        position: absolute;    
        width: 100%;
        /* start 'enter' transition */
        &.ng-leave {
            animation-name: slideOutLeft;
            animation-timing-function: ease-out;
            animation-duration: 1.4s;
            z-index: 555;
        }
    
        /* end 'enter' transition */
        &.ng-enter {
            animation-name: slideInRight;
            animation-timing-function: ease-out;
            animation-duration: 1.4s;
            z-index: 666;
        }
    }
}