body.body-scroll-disabled {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

html.html-scroll-disabled {
  overflow: hidden;
  position: fixed;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

#app {
  -webkit-font-smoothing: antialiased !important;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.no-padding-right {
  padding-right: 0px !important;
}

.no-padding-left {
  padding-left: 0px !important;
}

a {
  cursor: pointer !important;
}

.header {
  padding: 18% 0;
}

.scroll-disabled {
  touch-action: none;
}

.darkred {
  color: darkred;
}

.darkgreen {
  color: darkgreen;
}

.help-block {
  margin-bottom: 0 !important;
}

.list-group {
  padding: 0;
  margin: 0;
}

.mobile-side-auth-items strong,
.mobile-side-auth-items span.caret {
  line-height: 38px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-shadow: 0px 2px 4px black;
  color: white !important;
}

.list-group-item {
  border-radius: 0px !important;
  background-color: #222;
  border: 1px solid black;
}

.list-group-item:first-child {
  border-bottom: 0px;
}

.list-group-item:active,
.list-group-item:focus,
.list-group-item:visited,
.list-group-item:hover {
  background-color: #222 !important;
}

.list-group-item b {
  line-height: 42px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-shadow: 0px 2px 4px black;
}

.list-group-item i.fa {
  color: white;
}

.list-group-item.active {
  background-color: dodgerblue !important;
}

.list-group-item.active b {
  color: white;
  text-shadow: 2px 2px 4px black;
}

.list-group-item.active i.fa {
  color: white;
  text-shadow: 2px 2px 4px black;
}

#mobile-side-nav {
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

#account-modal {
  margin: 0;
  padding: 0;
}

#account-modal .nav-tabs > li {
  width: 50% !important;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

#account-modal .nav-tabs > li:active,
#account-modal .nav-tabs > li:focus,
#account-modal .nav-tabs > li:visited,
#account-modal .nav-tabs > li:hover {
  background-color: red !important;
}

#account-modal .nav-tabs > li.active {
  background-color: red !important;
}

#account-modal a {
  border: 0px;
  margin: 0;
  padding: 0;
}

#account-modal a:active,
#account-modal a:focus,
#account-modal a:visited,
#account-modal a:hover {
  background-color: none !important;
}
.navbar-brand {
  font-size: 1.75em;
  padding: 10px 15px;
  line-height: 30px;
}

.logo-brand h2 {
  display: inline-block;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.logo {
  display: inline-block;
  width: 50px;
  height: 54px;
  padding-bottom: 20px;
}

.logo img {
  height: 100%;
  width: 100%;
}