body.body-scroll-disabled {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

html.html-scroll-disabled {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

#app {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

a {
  cursor: pointer !important;
}

.header {
  padding: 18% 0;
}

.scroll-disabled {
  touch-action: none;
}
.navbar-brand {
  font-size: 1.75em;
  padding: 10px 15px;
  line-height: 30px;
}

.logo-brand h2 {
  display: inline-block;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.logo {
  display: inline-block;
  width: 50px;
  height: 54px;
  padding-bottom: 20px;
}

.logo img {
  height: 100%;
  width: 100%;
}