body.body-scroll-disabled {
  overflow: hidden;
  position: relative;

  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

html.html-scroll-disabled {
  overflow: hidden;

  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

a {
  cursor: pointer !important;
}

.header {
  padding: 18% 0;
}

.scroll-disabled {
  touch-action: none
}