.main-wrap {
  position: relative; }
  .main-wrap .main-view {
    position: absolute;
    width: 100%;
    /* start 'enter' transition */
    /* end 'enter' transition */ }
    .main-wrap .main-view.ng-leave {
      animation-name: slideOutRight;
      animation-timing-function: linear;
      animation-duration: 0.8s;
      z-index: 8888; }
    .main-wrap .main-view.ng-enter {
      animation-name: slideInLeft;
      animation-timing-function: linear;
      animation-duration: 0.8s;
      z-index: 9999; }
