.main-wrap {
  position: relative;
  box-sizing: border-box;
  width: 100%; }
  .main-wrap .main-view {
    position: absolute;
    box-sizing: border-box;
    width: 100%; }
    .main-wrap .main-view.ng-leave, .main-wrap .main-view.ng-leave-active {
      -webkit-animation: slideOutLeft ease-out;
      -moz-animation: slideOutLeft ease-out;
      animation: slideOutLeft ease-out;
      -webkit-animation-duration: 1.4s;
      -moz-animation-duration: 1.4s;
      animation-duration: 1.4s;
      -webkit-animation-delay: 0.05s;
      animation-delay: 0.05s;
      z-index: 666; }
    .main-wrap .main-view.ng-enter, .main-wrap .main-view.ng-enter-active {
      -webkit-animation: slideInRight ease-out;
      -moz-animation: slideInRight ease-out;
      animation: slideInRight ease-out;
      -webkit-animation-duration: 1.4s;
      -moz-animation-duration: 1.4s;
      animation-duration: 1.4s;
      -webkit-animation-delay: 0.05s;
      animation-delay: 0.05s;
      z-index: 555; }
